

.container-fluid {
  background-color: #D9CB9E;
  margin: 60px;
  padding-bottom: 300px;
}

.primary-font {
  font-family: 'Raleway', serif;
  font-size: 30px;
}

h1 {
  font-family: 'Raleway', serif;
  font-size: 55px;
  color: #374140;
  padding-top: 30px;
}

h2 {
  font-size: 15px;
  color: white;
  padding-bottom: 40px;
}

img {
  border-style: rounded;
  border-radius: 10px;
}

.border {
  border-style: solid;
  border-color: #2A2C2B;
  
}

